USE [generic-db]
GO
ALTER TABLE [fmis].[users] DROP CONSTRAINT [FK_users_status]
GO
ALTER TABLE [fmis].[user_special_permissions] DROP CONSTRAINT [FK_user_id]
GO
ALTER TABLE [fmis].[role_permissions] DROP CONSTRAINT [FK_role_id]
GO
ALTER TABLE [fmis].[role_permissions] DROP CONSTRAINT [FK_permission_id]
GO
ALTER TABLE [fmis].[modules] DROP CONSTRAINT [FK_module_parent]
GO
ALTER TABLE [fmis].[modules] DROP CONSTRAINT [FK_module_grand_parent]
GO
ALTER TABLE [fmis].[module_permissions] DROP CONSTRAINT [FK_module_id]
GO
ALTER TABLE [fmis].[users] DROP CONSTRAINT [DF_users_deleted_by]
GO
ALTER TABLE [fmis].[users] DROP CONSTRAINT [DF_users_updated_by]
GO
ALTER TABLE [fmis].[roles] DROP CONSTRAINT [DF__roles__deleted_b__5FB337D6]
GO
ALTER TABLE [fmis].[roles] DROP CONSTRAINT [DF__roles__updated_b__5EBF139D]
GO
ALTER TABLE [fmis].[role_permissions] DROP CONSTRAINT [DF__role_perm__delet__6383C8BA]
GO
ALTER TABLE [fmis].[role_permissions] DROP CONSTRAINT [DF__role_perm__updat__628FA481]
GO
ALTER TABLE [fmis].[modules] DROP CONSTRAINT [DF__modules__deleted__6EF57B66]
GO
ALTER TABLE [fmis].[modules] DROP CONSTRAINT [DF__modules__updated__6E01572D]
GO
ALTER TABLE [fmis].[modules] DROP CONSTRAINT [DF__modules__parent___6D0D32F4]
GO
ALTER TABLE [fmis].[modules] DROP CONSTRAINT [DF__modules__grand_p__6C190EBB]
GO
ALTER TABLE [fmis].[module_permissions] DROP CONSTRAINT [DF__module_pe__delet__693CA210]
GO
ALTER TABLE [fmis].[module_permissions] DROP CONSTRAINT [DF__module_pe__updat__68487DD7]
GO
ALTER TABLE [fmis].[module_permissions] DROP CONSTRAINT [DF__module_pe__modul__6754599E]
GO
ALTER TABLE [fmis].[key_category] DROP CONSTRAINT [DF__key_categ__delet__534D60F1]
GO
ALTER TABLE [fmis].[key_category] DROP CONSTRAINT [DF__key_categ__updat__52593CB8]
GO
/****** Object:  Table [fmis].[users]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[users]') AND type in (N'U'))
DROP TABLE [fmis].[users]
GO
/****** Object:  Table [fmis].[user_special_permissions]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[user_special_permissions]') AND type in (N'U'))
DROP TABLE [fmis].[user_special_permissions]
GO
/****** Object:  Table [fmis].[roles]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[roles]') AND type in (N'U'))
DROP TABLE [fmis].[roles]
GO
/****** Object:  Table [fmis].[role_permissions]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[role_permissions]') AND type in (N'U'))
DROP TABLE [fmis].[role_permissions]
GO
/****** Object:  Table [fmis].[modules]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[modules]') AND type in (N'U'))
DROP TABLE [fmis].[modules]
GO
/****** Object:  Table [fmis].[module_permissions]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[module_permissions]') AND type in (N'U'))
DROP TABLE [fmis].[module_permissions]
GO
/****** Object:  Table [fmis].[key_category]    Script Date: 5/22/2025 9:14:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmis].[key_category]') AND type in (N'U'))
DROP TABLE [fmis].[key_category]
GO
/****** Object:  Schema [generic_db]    Script Date: 5/22/2025 9:14:36 AM ******/
DROP SCHEMA [generic_db]
GO
/****** Object:  Schema [fmis]    Script Date: 5/22/2025 9:14:36 AM ******/
DROP SCHEMA [fmis]
GO
/****** Object:  Schema [auth]    Script Date: 5/22/2025 9:14:36 AM ******/
DROP SCHEMA [auth]
GO
USE [master]
GO
/****** Object:  Database [generic-db]    Script Date: 5/22/2025 9:14:36 AM ******/
DROP DATABASE [generic-db]
GO
/****** Object:  Database [generic-db]    Script Date: 5/22/2025 9:14:36 AM ******/
CREATE DATABASE [generic-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'generic-db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\generic-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'generic-db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\generic-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [generic-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [generic-db]
GO
/****** Object:  Schema [auth]    Script Date: 5/22/2025 9:14:36 AM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [fmis]    Script Date: 5/22/2025 9:14:36 AM ******/
CREATE SCHEMA [fmis]
GO
/****** Object:  Schema [generic_db]    Script Date: 5/22/2025 9:14:36 AM ******/
CREATE SCHEMA [generic_db]
GO
/****** Object:  Table [fmis].[key_category]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[key_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](30) NOT NULL,
	[category_id] [varchar](30) NOT NULL,
	[category_value] [varchar](30) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fmis].[module_permissions]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[module_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[permission_name] [varchar](100) NOT NULL,
	[permission_status] [bit] NOT NULL,
	[module_id] [bigint] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fmis].[modules]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[modules](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[module_name] [varchar](100) NOT NULL,
	[grand_parent_id] [bigint] NULL,
	[parent_id] [bigint] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fmis].[role_permissions]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[role_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[permission_id] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fmis].[roles]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](100) NOT NULL,
	[role_status] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fmis].[user_special_permissions]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[user_special_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[permission_id] [bigint] NOT NULL,
	[access_status] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fmis].[users]    Script Date: 5/22/2025 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fmis].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](30) NOT NULL,
	[middle_name] [varchar](30) NULL,
	[last_name] [varchar](30) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[hashed_password] [varchar](250) NOT NULL,
	[role_id] [int] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [fmis].[key_category] ADD  DEFAULT ((0)) FOR [updated_at]
GO
ALTER TABLE [fmis].[key_category] ADD  DEFAULT ((0)) FOR [deleted_by]
GO
ALTER TABLE [fmis].[module_permissions] ADD  DEFAULT ((0)) FOR [module_id]
GO
ALTER TABLE [fmis].[module_permissions] ADD  DEFAULT ((0)) FOR [updated_by]
GO
ALTER TABLE [fmis].[module_permissions] ADD  DEFAULT ((0)) FOR [deleted_by]
GO
ALTER TABLE [fmis].[modules] ADD  DEFAULT ((0)) FOR [grand_parent_id]
GO
ALTER TABLE [fmis].[modules] ADD  DEFAULT ((0)) FOR [parent_id]
GO
ALTER TABLE [fmis].[modules] ADD  DEFAULT ((0)) FOR [updated_by]
GO
ALTER TABLE [fmis].[modules] ADD  DEFAULT ((0)) FOR [deleted_by]
GO
ALTER TABLE [fmis].[role_permissions] ADD  DEFAULT ((0)) FOR [updated_by]
GO
ALTER TABLE [fmis].[role_permissions] ADD  DEFAULT ((0)) FOR [deleted_by]
GO
ALTER TABLE [fmis].[roles] ADD  DEFAULT ((0)) FOR [updated_by]
GO
ALTER TABLE [fmis].[roles] ADD  DEFAULT ((0)) FOR [deleted_by]
GO
ALTER TABLE [fmis].[users] ADD  CONSTRAINT [DF_users_updated_by]  DEFAULT ((0)) FOR [updated_by]
GO
ALTER TABLE [fmis].[users] ADD  CONSTRAINT [DF_users_deleted_by]  DEFAULT ((0)) FOR [deleted_by]
GO
ALTER TABLE [fmis].[module_permissions]  WITH CHECK ADD  CONSTRAINT [FK_module_id] FOREIGN KEY([module_id])
REFERENCES [fmis].[modules] ([id])
GO
ALTER TABLE [fmis].[module_permissions] CHECK CONSTRAINT [FK_module_id]
GO
ALTER TABLE [fmis].[modules]  WITH CHECK ADD  CONSTRAINT [FK_module_grand_parent] FOREIGN KEY([grand_parent_id])
REFERENCES [fmis].[modules] ([id])
GO
ALTER TABLE [fmis].[modules] CHECK CONSTRAINT [FK_module_grand_parent]
GO
ALTER TABLE [fmis].[modules]  WITH CHECK ADD  CONSTRAINT [FK_module_parent] FOREIGN KEY([parent_id])
REFERENCES [fmis].[modules] ([id])
GO
ALTER TABLE [fmis].[modules] CHECK CONSTRAINT [FK_module_parent]
GO
ALTER TABLE [fmis].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_permission_id] FOREIGN KEY([permission_id])
REFERENCES [fmis].[module_permissions] ([id])
GO
ALTER TABLE [fmis].[role_permissions] CHECK CONSTRAINT [FK_permission_id]
GO
ALTER TABLE [fmis].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_id] FOREIGN KEY([role_id])
REFERENCES [fmis].[roles] ([id])
GO
ALTER TABLE [fmis].[role_permissions] CHECK CONSTRAINT [FK_role_id]
GO
ALTER TABLE [fmis].[user_special_permissions]  WITH CHECK ADD  CONSTRAINT [FK_user_id] FOREIGN KEY([user_id])
REFERENCES [fmis].[users] ([id])
GO
ALTER TABLE [fmis].[user_special_permissions] CHECK CONSTRAINT [FK_user_id]
GO
ALTER TABLE [fmis].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_status] FOREIGN KEY([status_id])
REFERENCES [fmis].[key_category] ([id])
GO
ALTER TABLE [fmis].[users] CHECK CONSTRAINT [FK_users_status]
GO
USE [master]
GO
